<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icons8_telegram_app_50px"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/icons8_telegram_app_50px"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".View.Account.ViewDiemAdapter"
            android:exported="false" />
        <activity
            android:name=".View.Account.ViewDiem"
            android:exported="false" />
        <activity
            android:name=".View.Account.Forgot_password"
            android:exported="false" />
        <activity
            android:name=".fragment.PdfViewActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.pdfViewvocabularyActivity"
            android:exported="false" />
        <activity
            android:name=".View.Account.Change_Information"
            android:exported="false" />
        <activity
            android:name=".View.quiz.questionsActivity"
            android:exported="false" />
        <activity
            android:name=".View.quiz.quizActivity"
            android:exported="false" />
        <activity
            android:name=".View.quiz.menucatagoryquiz"
            android:exported="false" />
        <activity
            android:name=".View.lessonview.LessonviewActivity"
            android:exported="false" />
        <activity
            android:name=".View.lessonview.VocabularyActivity"
            android:exported="true" />
        <activity
            android:name=".View.lessonview.Vocabulary2"
            android:exported="true" />
        <activity
            android:name=".View.lessonview.Vocabulary3"
            android:exported="true" />
        <activity
            android:name=".View.lessonview.Vocabulary4"
            android:exported="true" />
        <activity
            android:name=".View.lessonview.Vocabulary5"
            android:exported="true" />
        <activity
            android:name=".View.Register"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".View.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>